<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donow</title>

    <link rel="stylesheet" href="static/style.css">
</head>
<body onload="Clock()">
    <div class="main-container">
        <div class="title">Welcome!</div>
        <div id="time" class="time-place"></div>
        <div class="add-place">
            <input type="text" placeholder="what i want to do...", id="new-task-input">
            <button id="add-task" type="submit"></button>
        </div>
        
        <div class="tasks-container" id="tasks">

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/app.js"></script>
</body>
</html>