body{
    background-color: black;
     color: white;
}

@font-face {
    font-family: 'Datalegreya-Thin';
    src: url('/home/iwan/.local/share/fonts/Datalegreya-Thin.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Datalegreya-Gradient';
    src: url('/home/iwan/.local/share/fonts/Datalegreya-Gradient.otf');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Datalegreya-Dot';
    src: url('/home/iwan/.local/share/fonts/Datalegreya-Dot.otf');
    font-weight: bold;
    font-style: normal;
}

.main-text-table{
    position: absolute;
    top: 17rem;
    left: 1rem;
    width: 99%;
    height: 5rem;
    /* background-image: linear-gradient(
  0deg,
  hsl(0deg 0% 0%) 0%,
  hsl(0deg 0% 33%) 24%,
  hsl(0deg 0% 80%) 38%,
  hsl(0deg 0% 100%) 50%,
  hsl(0deg 0% 80%) 64%,
  hsl(0deg 0% 33%) 78%,
  hsl(0deg 0% 0%) 100%
);
   */
}

.main-text{
    position: relative;
    opacity: 1.5;
    font-size: 25rem;
    font-family: 'Datalegreya-Thin';

}


/* .without-decor{
    text-decoration: none;
    color: white;
    font-size: 3.5rem; 
    height: 5rem;
}

.without-decor:hover{
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    transition-duration: 2s;
    position: relative;
}
    
 */
 .wrapper{
    /* position: fixed; */
    position: absolute;
    top: 10rem;
    left: 1rem;
    /* transform: translate(-50%, -50%); */
    padding: 10rem 2rem;
  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 3.5rem;
    font-family: 'Datalegreya-Thin';
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fcfbfb;
    /* color: black; */
    transition: all .35s;
  }
  
  a:hover{
    color: #000000;
    font-size: 2rem;
    background-color: #ffffff;
  }
  
  a:hover:after{
    width: 100%;
  }