*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    background-color: black;
     color: white;
}


.title{
    position: absolute;
    font-size: 20rem;
    transform: translate(-50%, -50%);
    left:  50%;
    top: 40%;
    font-family: 'Major Mono Display', monospace;
    font-weight:lighter;
}

.subtitle{
  background-color: rgb(0, 0, 0);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  top: 70%;
  display: block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;

}

.home-letter{
  font-family: 'Major Mono Display', monospace;
  font-weight:lighter;
}

nav{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  height: 2.3rem;
  top: 0rem;
  font-family: 'Poiret One', cursive;
  font-weight: lighter;  
}

.nav-links{
  display: flex;
  background-color:rgba(207, 29, 29, 0.56);
  justify-content: space-around;
  width: 100%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  font-size: 2.3rem;
  color: white;
  justify-content: space-around;
  text-decoration: none;
}  

.menu-button{
  display: none;
  cursor: pointer;
}

.menu-button div{
  width: 5rem;
  height: 0.3rem;
  background-color: rgb(255, 255, 255);
  margin: 0.5rem;
  margin-top: 1rem;
  transition: transform 0.5s ease-in;
}

a {
	position: relative;
	color: #ffffff; 
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; 
}

a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px; 
	background-color: #ffffff; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%; 
}

@media screen and (max-width: 768px) {
  .title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45%;
    font-size: 6rem;
  }

  .subtitle{
    height: 5rem;
    width: 35rem;
  }
  
  .nav-links {
    opacity: 0;
  }
  .menu-button{
    display: block;
  }
}
