<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMarket</title>
    <link rel="stylesheet" href="static/market.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

    <h2 style="color: black;">Market page</h2>
    

    <table>
        <th>
            <div class="main-text">FMarket</div>

            <div class="home">
                <a href="home">Home</a>
            </div>

            <div class="market">
                <a href="market">Market</a>
            </div>

            <div class="login">Login</div>
            <div class="signup">Signup</div>
        </th>
    
    </table>
</body>
</html>